<a href="https://colab.research.google.com/github/heidaralavi/Gas-Prj/blob/main/date_time.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
from datetime import datetime, timedelta

In [14]:
date_time_str = '18/09/19 23:55'

In [15]:
date_time_obj = datetime.strptime(date_time_str, '%d/%m/%y %H:%M')

In [16]:
print ("The type of the date is now",  type(date_time_obj))

The type of the date is now <class 'datetime.datetime'>

In [17]:
print ("The type of the date is now",  date_time_obj)

The type of the date is now 2019-09-18 23:55:00

In [18]:
print(date_time_obj+timedelta( minutes=20, hours=5))

2019-09-19 05:15:00

In [26]:
import pandas as pd
df = pd.DataFrame({'date': ['3/10/2000', '3/11/2000', '3/12/2000'],'value': [2, 3, 4]})

In [27]:
df['nd'] = pd.to_datetime(df['date'])
df

        date  value         nd
0  3/10/2000      2 2000-03-10
1  3/11/2000      3 2000-03-11
2  3/12/2000      4 2000-03-12

In [39]:
df.iloc[:,2].dt.month

0    3
1    3
2    3
Name: nd, dtype: int64

In [36]:
df['nd'].dt.minute

0    0
1    0
2    0
Name: nd, dtype: int64

In [41]:
df['nd']=df['nd']+timedelta( minutes=20, hours=5)

In [42]:
df

        date  value                  nd
0  3/10/2000      2 2000-03-10 05:20:00
1  3/11/2000      3 2000-03-11 05:20:00
2  3/12/2000      4 2000-03-12 05:20:00

In [45]:
df['nd'].dt.date

0    2000-03-10
1    2000-03-11
2    2000-03-12
Name: nd, dtype: object