<a href="https://colab.research.google.com/github/heidaralavi/Gas-Prj/blob/main/Gas_Prj.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

دریافت داده های اولیه

In [2]:
df1=pd.read_csv('https://raw.githubusercontent.com/heidaralavi/Gas-Prj/main/input-1.csv')

In [4]:
df1.head()

        Date  online_hours  ...  730FN1_Amp  AN1_Zone3_Temp(deg)
0  3/22/2019     23.000000  ...  185.063912           141.628364
1  3/23/2019     23.533333  ...  183.892294           145.570481
2  3/24/2019     23.400000  ...  180.630365           173.127236
3  3/25/2019     23.583333  ...  177.220492           179.281210
4  3/26/2019     19.883333  ...  163.096300           129.430960

[5 rows x 15 columns]

In [5]:
df2=pd.read_csv('https://raw.githubusercontent.com/heidaralavi/Gas-Prj/main/input-2.csv')

In [6]:
df2.head()

        Date  Blaine_After_HPGR
0  3/21/2019               1917
1  3/21/2019               1917
2  3/21/2019               1890
3  3/21/2019               1917
4  3/21/2019               1943

In [7]:
df3=pd.read_csv('https://raw.githubusercontent.com/heidaralavi/Gas-Prj/main/input-3.csv')

In [8]:
df3.head()

        Date  Tfe_Before_Mixer
0  3/21/2019             66.64
1  3/21/2019             66.88
2  3/21/2019             67.35
3  3/22/2019             66.90
4  3/22/2019             66.88

In [9]:
df4=pd.read_csv('https://raw.githubusercontent.com/heidaralavi/Gas-Prj/main/input-4.csv')

In [10]:
df4.head()

        Date  FeO_Before_Mixer
0  3/21/2019             21.51
1  3/21/2019             21.97
2  3/21/2019             21.66
3  3/22/2019             21.47
4  3/22/2019             21.66

In [11]:
df5=pd.read_csv('https://raw.githubusercontent.com/heidaralavi/Gas-Prj/main/input-5.csv')

In [12]:
df5.head()

        Date  Moisture_600
0  3/21/2019           9.3
1  3/21/2019           9.2
2  3/21/2019           9.6
3  3/21/2019           9.0
4  3/21/2019           8.7