<a href="https://colab.research.google.com/github/heidaralavi/Gas-Prj/blob/main/Gas_Prj.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [100]:
import pandas as pd

دریافت داده های اولیه

In [101]:
df1=pd.read_csv('https://raw.githubusercontent.com/heidaralavi/Gas-Prj/main/data-1.csv')

In [102]:
df1.head()

        Date  Time  Disk_Number  Moisture_600
0  3/21/2019  1:45            1           9.3
1  3/21/2019  3:45            1           9.2
2  3/21/2019  5:45            1           9.6
3  3/21/2019  7:45            1           9.0
4  3/21/2019  9:45            1           8.7

In [103]:
df1.insert(loc=0, column='new_date', value=df1['Date']+' '+df1['Time'])

In [104]:
from datetime import datetime, timedelta
df1['new_date']=pd.to_datetime(df1['new_date'])
df1['new_date']=df1['new_date']-timedelta( minutes=0, hours=7)
df1['new_date']=df1['new_date'].dt.date
df1.drop(['Date','Time','Disk_Number'],axis=1,inplace=True)
df1=df1.groupby(['new_date']).mean()
df1

            Moisture_600
new_date
2019-03-20      9.333333
2019-03-21      9.043056
2019-03-22      9.068056
2019-03-23      8.997183
2019-03-24      8.795833
...                  ...
2022-01-11      8.968056
2022-01-12      8.986111
2022-01-13      9.172222
2022-01-14      9.094444
2022-01-15      9.104167

[942 rows x 1 columns]

In [108]:
df2=pd.read_csv('https://raw.githubusercontent.com/heidaralavi/Gas-Prj/main/data-2.csv')
df2

           Date   Time  Blaine_After_HPGR
0     3/21/2019   5:05               1917
1     3/21/2019   7:05               1917
2     3/21/2019   9:05               1890
3     3/21/2019  11:05               1917
4     3/21/2019  13:05               1943
...         ...    ...                ...
9205  1/14/2022  22:55               1858
9206  1/15/2022   0:50               1879
9207  1/15/2022   2:45               1817
9208  1/15/2022   4:45               1685
9209  1/15/2022   6:45               1817

[9210 rows x 3 columns]

In [109]:
df2.insert(loc=0, column='new_date', value=df2['Date']+' '+df2['Time'])
df2['new_date']=pd.to_datetime(df2['new_date'])
df2['new_date']=df2['new_date']-timedelta( minutes=0, hours=7)
df2['new_date']=df2['new_date'].dt.date
df2.drop(['Date','Time'],axis=1,inplace=True)
df2=df2.groupby(['new_date']).mean()
df2

            Blaine_After_HPGR
new_date
2019-03-20        1917.000000
2019-03-21        1875.416667
2019-03-22        1944.333333
2019-03-23        2014.000000
2019-03-24        2036.909091
...                       ...
2022-01-10        1895.250000
2022-01-11        1887.000000
2022-01-12        1840.727273
2022-01-13        1835.181818
2022-01-14        1833.250000

[939 rows x 1 columns]

In [110]:
df3=pd.read_csv('https://raw.githubusercontent.com/heidaralavi/Gas-Prj/main/data-3.csv')
df3

           Date   Time  Tfe_Before_Mixer
0     3/21/2019   2:00             66.64
1     3/21/2019  10:00             66.88
2     3/21/2019  18:00             67.35
3     3/22/2019   2:00             66.90
4     3/22/2019  10:00             66.88
...         ...    ...               ...
2435  1/14/2022  18:00             67.71
2436  1/15/2022   2:00             67.68
2437  1/15/2022  10:00             67.74
2438        NaN    NaN               NaN
2439        NaN    NaN               NaN

[2440 rows x 3 columns]

In [111]:
df3.insert(loc=0, column='new_date', value=df3['Date']+' '+df3['Time'])
df3['new_date']=pd.to_datetime(df3['new_date'])
df3['new_date']=df3['new_date']-timedelta( minutes=0, hours=7)
df3['new_date']=df3['new_date'].dt.date
df3.drop(['Date','Time'],axis=1,inplace=True)
df3=df3.groupby(['new_date']).mean()
df3

            Tfe_Before_Mixer
new_date
2019-03-20         66.640000
2019-03-21         67.043333
2019-03-22         66.943333
2019-03-23         66.873333
2019-03-24         66.873333
...                      ...
2022-01-11         67.726667
2022-01-12         67.786667
2022-01-13         67.790000
2022-01-14         67.703333
2022-01-15         67.740000

[924 rows x 1 columns]

In [112]:
df4=pd.read_csv('https://raw.githubusercontent.com/heidaralavi/Gas-Prj/main/data-4.csv')
df4

           Date   Time  FeO_Before_Mixer
0     3/21/2019   2:00             21.51
1     3/21/2019  10:00             21.97
2     3/21/2019  18:00             21.66
3     3/22/2019   2:00             21.47
4     3/22/2019  10:00             21.66
...         ...    ...               ...
2455  1/14/2022  10:00             24.90
2456  1/14/2022  18:00             24.20
2457  1/15/2022   2:00             25.22
2458  1/15/2022  10:00             25.15
2459        NaN    NaN               NaN

[2460 rows x 3 columns]

In [113]:
df4.insert(loc=0, column='new_date', value=df4['Date']+' '+df4['Time'])
df4['new_date']=pd.to_datetime(df4['new_date'])
df4['new_date']=df4['new_date']-timedelta( minutes=0, hours=7)
df4['new_date']=df4['new_date'].dt.date
df4.drop(['Date','Time'],axis=1,inplace=True)
df4=df4.groupby(['new_date']).mean()
df3

            Tfe_Before_Mixer
new_date
2019-03-20         66.640000
2019-03-21         67.043333
2019-03-22         66.943333
2019-03-23         66.873333
2019-03-24         66.873333
...                      ...
2022-01-11         67.726667
2022-01-12         67.786667
2022-01-13         67.790000
2022-01-14         67.703333
2022-01-15         67.740000

[924 rows x 1 columns]

In [115]:
df5=pd.read_csv('https://raw.githubusercontent.com/heidaralavi/Gas-Prj/main/data-5.csv')
df5

           Date  Gas_Consumption(Nm3)  ...  730FN1_Amp  AN1_Zoon3_Temp(deg)
0     3/22/2019              196364.0  ...  185.063912           141.628364
1     3/23/2019              209304.0  ...  183.892294           145.570481
2     3/24/2019              206200.0  ...  180.630365           173.127236
3     3/25/2019              203772.0  ...  177.220492           179.281210
4     3/26/2019              200120.0  ...  163.096300           129.430960
...         ...                   ...  ...         ...                  ...
8750        NaN                   NaN  ...         NaN                  NaN
8751        NaN                   NaN  ...         NaN                  NaN
8752        NaN                   NaN  ...         NaN                  NaN
8753        NaN                   NaN  ...         NaN                  NaN
8754        NaN                   NaN  ...         NaN                  NaN

[8755 rows x 16 columns]

               nd  Disk_Number  Moisture_600
0      2019-03-20            1           9.3
1      2019-03-20            1           9.2
2      2019-03-20            1           9.6
3      2019-03-21            1           9.0
4      2019-03-21            1           8.7
...           ...          ...           ...
60578  2022-01-14            6           9.0
60579  2022-01-15            6           9.1
60580  2022-01-15            6           9.1
60581  2022-01-15            6           9.1
60582  2022-01-15            6           9.0

[60583 rows x 3 columns]

In [ ]:
df2=pd.read_csv('https://raw.githubusercontent.com/heidaralavi/Gas-Prj/main/input-2.csv')

In [ ]:
df2.head()

        Date  Blaine_After_HPGR
0  3/21/2019               1917
1  3/21/2019               1917
2  3/21/2019               1890
3  3/21/2019               1917
4  3/21/2019               1943

In [ ]:
df3=pd.read_csv('https://raw.githubusercontent.com/heidaralavi/Gas-Prj/main/input-3.csv')

In [ ]:
df3.head()

        Date  Tfe_Before_Mixer
0  3/21/2019             66.64
1  3/21/2019             66.88
2  3/21/2019             67.35
3  3/22/2019             66.90
4  3/22/2019             66.88

In [ ]:
df4=pd.read_csv('https://raw.githubusercontent.com/heidaralavi/Gas-Prj/main/input-4.csv')

In [ ]:
df4.head()

        Date  FeO_Before_Mixer
0  3/21/2019             21.51
1  3/21/2019             21.97
2  3/21/2019             21.66
3  3/22/2019             21.47
4  3/22/2019             21.66

In [ ]:
df5=pd.read_csv('https://raw.githubusercontent.com/heidaralavi/Gas-Prj/main/input-5.csv')

In [ ]:
df5.head()

        Date  Moisture_600
0  3/21/2019           9.3
1  3/21/2019           9.2
2  3/21/2019           9.6
3  3/21/2019           9.0
4  3/21/2019           8.7

متوسط گیری داده های رطوبت دیسک ها در هر روز

In [ ]:
df5=df5.groupby(['Date']).mean()

In [ ]:
df5.head()

           Moisture_600
Date
1/1/2020       9.437500
1/1/2021       9.028986
1/1/2022       9.152113
1/10/2020      9.240278
1/10/2021      8.962069

ادغام تمام دیتافریم ها در یک دیتافریم

In [ ]:
from functools import reduce

In [ ]:
data_frames = [df1, df2, df3,df4,df5]
df = reduce(lambda  left,right: pd.merge(left,right,on=['Date'],how='outer'), data_frames)

In [ ]:
df.head()

        Date  online_hours  ...  FeO_Before_Mixer  Moisture_600
0  3/22/2019          23.0  ...             21.47      9.084722
1  3/22/2019          23.0  ...             21.66      9.084722
2  3/22/2019          23.0  ...             21.66      9.084722
3  3/22/2019          23.0  ...             21.47      9.084722
4  3/22/2019          23.0  ...             21.66      9.084722

[5 rows x 19 columns]

In [ ]:
df=df.groupby(['Date']).mean()

In [ ]:
df.head()

           online_hours  Grate_Feed(ton)  ...  FeO_Before_Mixer  Moisture_600
Date                                      ...
1/1/2020      24.000000         12994.84  ...         21.453333      9.437500
1/1/2021      23.933333         13077.04  ...         22.925000      9.028986
1/1/2022      24.000000         14241.00  ...         21.740000      9.152113
1/10/2020     24.000000         11785.42  ...         22.300000      9.240278
1/10/2021     24.000000         13321.24  ...         22.875000      8.962069

[5 rows x 18 columns]

In [ ]:
df.isnull().sum()

online_hours             1
Grate_Feed(ton)          1
Grate_Speed(rpm)         1
Depth(mm)                1
EP1_Temp(deg)           12
EP2_Temp(deg)           12
Zone3_Temp(deg)         12
Zone4_Temp(deg)         12
Amb_temp(deg)            1
KL1_Speed(rpm)           1
AN1_Speed(rpm)           1
730FN1_Damper            1
730FN1_Amp               1
AN1_Zone3_Temp(deg)      1
Blaine_After_HPGR       92
Tfe_Before_Mixer       102
FeO_Before_Mixer       102
Moisture_600            89
dtype: int64

In [ ]:
df.isna().sum()

online_hours             1
Grate_Feed(ton)          1
Grate_Speed(rpm)         1
Depth(mm)                1
EP1_Temp(deg)           12
EP2_Temp(deg)           12
Zone3_Temp(deg)         12
Zone4_Temp(deg)         12
Amb_temp(deg)            1
KL1_Speed(rpm)           1
AN1_Speed(rpm)           1
730FN1_Damper            1
730FN1_Amp               1
AN1_Zone3_Temp(deg)      1
Blaine_After_HPGR       92
Tfe_Before_Mixer       102
FeO_Before_Mixer       102
Moisture_600            89
dtype: int64

In [ ]:
df.describe()

       online_hours  Grate_Feed(ton)  ...  FeO_Before_Mixer  Moisture_600
count   1030.000000      1030.000000  ...        929.000000    942.000000
mean      20.611052     10873.427369  ...         22.913753      9.048039
std        7.220326      4149.742329  ...          1.196026      0.193219
min        0.000000       -77.700000  ...         18.866667      7.966667
25%       22.637500     11438.767500  ...         22.060000      8.919444
50%       23.966667     12664.290000  ...         22.895000      9.044886
75%       24.000000     13053.832500  ...         23.810000      9.176042
max       24.000000     18548.260000  ...         25.773333      9.635714

[8 rows x 18 columns]

سیو فایل نهایی در گوگل درایو

In [ ]:
#from google.colab import drive
#drive.mount('drive')

Mounted at drive

In [ ]:
#df.to_csv('total.csv')
#!cp total.csv "drive/My Drive/"