<a href="https://colab.research.google.com/github/heidaralavi/Gas-Prj/blob/main/Gas_Prj.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [29]:
import pandas as pd

دریافت داده های اولیه

In [30]:
df1=pd.read_csv('https://raw.githubusercontent.com/heidaralavi/Gas-Prj/main/data-1.csv')

In [31]:
df1.head()

        Date  Time  Disk_Number  Moisture_600
0  3/21/2019  1:45            1           9.3
1  3/21/2019  3:45            1           9.2
2  3/21/2019  5:45            1           9.6
3  3/21/2019  7:45            1           9.0
4  3/21/2019  9:45            1           8.7

In [32]:
df1.insert(loc=0, column='new_date', value=df1['Date']+' '+df1['Time'])

In [33]:
from datetime import datetime, timedelta
df1['new_date']=pd.to_datetime(df1['new_date'])
df1['new_date']=df1['new_date']-timedelta( minutes=0, hours=7)
df1['new_date']=df1['new_date'].dt.date
df1.drop(['Date','Time','Disk_Number'],axis=1,inplace=True)
df1=df1.groupby(['new_date']).mean()
df1

            Moisture_600
new_date
2019-03-20      9.333333
2019-03-21      9.043056
2019-03-22      9.068056
2019-03-23      8.997183
2019-03-24      8.795833
...                  ...
2022-01-11      8.968056
2022-01-12      8.986111
2022-01-13      9.172222
2022-01-14      9.094444
2022-01-15      9.104167

[942 rows x 1 columns]

In [34]:
df2=pd.read_csv('https://raw.githubusercontent.com/heidaralavi/Gas-Prj/main/data-2.csv')
df2

           Date   Time  Blaine_After_HPGR
0     3/21/2019   5:05               1917
1     3/21/2019   7:05               1917
2     3/21/2019   9:05               1890
3     3/21/2019  11:05               1917
4     3/21/2019  13:05               1943
...         ...    ...                ...
9205  1/14/2022  22:55               1858
9206  1/15/2022   0:50               1879
9207  1/15/2022   2:45               1817
9208  1/15/2022   4:45               1685
9209  1/15/2022   6:45               1817

[9210 rows x 3 columns]

In [35]:
df2.insert(loc=0, column='new_date', value=df2['Date']+' '+df2['Time'])
df2['new_date']=pd.to_datetime(df2['new_date'])
df2['new_date']=df2['new_date']-timedelta( minutes=0, hours=7)
df2['new_date']=df2['new_date'].dt.date
df2.drop(['Date','Time'],axis=1,inplace=True)
df2=df2.groupby(['new_date']).mean()
df2

            Blaine_After_HPGR
new_date
2019-03-20        1917.000000
2019-03-21        1875.416667
2019-03-22        1944.333333
2019-03-23        2014.000000
2019-03-24        2036.909091
...                       ...
2022-01-10        1895.250000
2022-01-11        1887.000000
2022-01-12        1840.727273
2022-01-13        1835.181818
2022-01-14        1833.250000

[939 rows x 1 columns]

In [36]:
df3=pd.read_csv('https://raw.githubusercontent.com/heidaralavi/Gas-Prj/main/data-3.csv')
df3

           Date   Time  Tfe_Before_Mixer
0     3/21/2019   2:00             66.64
1     3/21/2019  10:00             66.88
2     3/21/2019  18:00             67.35
3     3/22/2019   2:00             66.90
4     3/22/2019  10:00             66.88
...         ...    ...               ...
2435  1/14/2022  18:00             67.71
2436  1/15/2022   2:00             67.68
2437  1/15/2022  10:00             67.74
2438        NaN    NaN               NaN
2439        NaN    NaN               NaN

[2440 rows x 3 columns]

In [37]:
df3.insert(loc=0, column='new_date', value=df3['Date']+' '+df3['Time'])
df3['new_date']=pd.to_datetime(df3['new_date'])
df3['new_date']=df3['new_date']-timedelta( minutes=0, hours=7)
df3['new_date']=df3['new_date'].dt.date
df3.drop(['Date','Time'],axis=1,inplace=True)
df3=df3.groupby(['new_date']).mean()
df3

            Tfe_Before_Mixer
new_date
2019-03-20         66.640000
2019-03-21         67.043333
2019-03-22         66.943333
2019-03-23         66.873333
2019-03-24         66.873333
...                      ...
2022-01-11         67.726667
2022-01-12         67.786667
2022-01-13         67.790000
2022-01-14         67.703333
2022-01-15         67.740000

[924 rows x 1 columns]

In [38]:
df4=pd.read_csv('https://raw.githubusercontent.com/heidaralavi/Gas-Prj/main/data-4.csv')
df4

           Date   Time  FeO_Before_Mixer
0     3/21/2019   2:00             21.51
1     3/21/2019  10:00             21.97
2     3/21/2019  18:00             21.66
3     3/22/2019   2:00             21.47
4     3/22/2019  10:00             21.66
...         ...    ...               ...
2455  1/14/2022  10:00             24.90
2456  1/14/2022  18:00             24.20
2457  1/15/2022   2:00             25.22
2458  1/15/2022  10:00             25.15
2459        NaN    NaN               NaN

[2460 rows x 3 columns]

In [39]:
df4.insert(loc=0, column='new_date', value=df4['Date']+' '+df4['Time'])
df4['new_date']=pd.to_datetime(df4['new_date'])
df4['new_date']=df4['new_date']-timedelta( minutes=0, hours=7)
df4['new_date']=df4['new_date'].dt.date
df4.drop(['Date','Time'],axis=1,inplace=True)
df4=df4.groupby(['new_date']).mean()
df3

            Tfe_Before_Mixer
new_date
2019-03-20         66.640000
2019-03-21         67.043333
2019-03-22         66.943333
2019-03-23         66.873333
2019-03-24         66.873333
...                      ...
2022-01-11         67.726667
2022-01-12         67.786667
2022-01-13         67.790000
2022-01-14         67.703333
2022-01-15         67.740000

[924 rows x 1 columns]

In [40]:
df5=pd.read_csv('https://raw.githubusercontent.com/heidaralavi/Gas-Prj/main/data-5.csv')
df5

           Date  Online_hours  ...  AN1_Zoon3_Temp(deg)  Gas_Consumption(Nm3)
0     3/22/2019     23.000000  ...           141.628364                196364
1     3/23/2019     23.533333  ...           145.570481                209304
2     3/24/2019     23.400000  ...           173.127236                206200
3     3/25/2019     23.583333  ...           179.281210                203772
4     3/26/2019     19.883333  ...           129.430960                200120
...         ...           ...  ...                  ...                   ...
1027  1/12/2022     23.866667  ...           199.714990                236188
1028  1/13/2022     24.000000  ...           210.040164                217142
1029  1/14/2022     24.000000  ...           220.770072                216634
1030  1/15/2022     23.583333  ...           218.651203                213588
1031  1/16/2022     21.000000  ...           191.140781                212952

[1032 rows x 16 columns]

In [41]:
df5.insert(loc=0, column='new_date', value=df5['Date'])
df5['new_date']=pd.to_datetime(df5['new_date'])
df5['new_date']=df5['new_date'].dt.date
df5.drop(['Date'],axis=1,inplace=True)
df5=df5.groupby(['new_date']).mean()
df5

            Online_hours  ...  Gas_Consumption(Nm3)
new_date                  ...
2019-03-22     23.000000  ...                196364
2019-03-23     23.533333  ...                209304
2019-03-24     23.400000  ...                206200
2019-03-25     23.583333  ...                203772
2019-03-26     19.883333  ...                200120
...                  ...  ...                   ...
2022-01-12     23.866667  ...                236188
2022-01-13     24.000000  ...                217142
2022-01-14     24.000000  ...                216634
2022-01-15     23.583333  ...                213588
2022-01-16     21.000000  ...                212952

[1031 rows x 15 columns]

ادغام تمام دیتافریم ها در یک دیتافریم

In [42]:
from functools import reduce

In [43]:
data_frames = [df1, df2, df3,df4,df5]
df = reduce(lambda  left,right: pd.merge(left,right,on=['new_date'],how='outer'), data_frames)

In [44]:
df.head()

            Moisture_600  ...  Gas_Consumption(Nm3)
new_date                  ...
2019-03-20      9.333333  ...                   NaN
2019-03-21      9.043056  ...                   NaN
2019-03-22      9.068056  ...              196364.0
2019-03-23      8.997183  ...              209304.0
2019-03-24      8.795833  ...              206200.0

[5 rows x 19 columns]

In [45]:
df=df.groupby(['new_date']).mean()

In [46]:
df.head()

            Moisture_600  ...  Gas_Consumption(Nm3)
new_date                  ...
2019-03-20      9.333333  ...                   NaN
2019-03-21      9.043056  ...                   NaN
2019-03-22      9.068056  ...              196364.0
2019-03-23      8.997183  ...              209304.0
2019-03-24      8.795833  ...              206200.0

[5 rows x 19 columns]

In [47]:
df.isnull().sum()

Moisture_600              91
Blaine_After_HPGR         94
Tfe_Before_Mixer         109
FeO_Before_Mixer         109
Online_hours               2
Grate_Feed(ton)            2
Grate_Speed(rpm)           2
Depth(mm)                  2
EP1_Temp(deg)             13
EP2_Temp(deg)             13
Grate_Zoon3_Temp(deg)     13
Grate_Zoon4_Temp(deg)     13
Amb_Temp(deg)              2
KL1_Speed(rpm)             2
AN1_Speed(rpm)             2
730FN1_Damper              2
730FN1_Amp                 2
AN1_Zoon3_Temp(deg)        2
Gas_Consumption(Nm3)       2
dtype: int64

In [48]:
cols=['Moisture_600','Blaine_After_HPGR','Tfe_Before_Mixer','FeO_Before_Mixer']
df[cols] = df[cols].ffill()

In [49]:
#df.dropna(how='any',axis=0,inplace=True)

In [50]:
#df.describe()

In [51]:
import numpy as np
cols=['Grate_Feed(ton)']
df[cols] = np.where(df[cols] <= 5 , 0.0, df[cols])

In [53]:
df.isnull().sum()

Moisture_600              0
Blaine_After_HPGR         0
Tfe_Before_Mixer          0
FeO_Before_Mixer          0
Online_hours              2
Grate_Feed(ton)           2
Grate_Speed(rpm)          2
Depth(mm)                 2
EP1_Temp(deg)            13
EP2_Temp(deg)            13
Grate_Zoon3_Temp(deg)    13
Grate_Zoon4_Temp(deg)    13
Amb_Temp(deg)             2
KL1_Speed(rpm)            2
AN1_Speed(rpm)            2
730FN1_Damper             2
730FN1_Amp                2
AN1_Zoon3_Temp(deg)       2
Gas_Consumption(Nm3)      2
dtype: int64

سیو فایل نهایی در گوگل درایو

In [54]:
from google.colab import drive
drive.mount('drive')

Drive already mounted at drive; to attempt to forcibly remount, call drive.mount("drive", force_remount=True).

In [55]:
df.to_csv('total.csv')
!cp total.csv "drive/My Drive/"