<a href="https://colab.research.google.com/github/heidaralavi/Gas-Prj/blob/main/Gas_Prj.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

دریافت داده های اولیه

In [2]:
df1=pd.read_csv('https://raw.githubusercontent.com/heidaralavi/Gas-Prj/main/input-1.csv')

In [4]:
df1.head()

        Date  online_hours  ...  730FN1_Amp  AN1_Zone3_Temp(deg)
0  3/22/2019     23.000000  ...  185.063912           141.628364
1  3/23/2019     23.533333  ...  183.892294           145.570481
2  3/24/2019     23.400000  ...  180.630365           173.127236
3  3/25/2019     23.583333  ...  177.220492           179.281210
4  3/26/2019     19.883333  ...  163.096300           129.430960

[5 rows x 15 columns]

In [5]:
df2=pd.read_csv('https://raw.githubusercontent.com/heidaralavi/Gas-Prj/main/input-2.csv')

In [6]:
df2.head()

        Date  Blaine_After_HPGR
0  3/21/2019               1917
1  3/21/2019               1917
2  3/21/2019               1890
3  3/21/2019               1917
4  3/21/2019               1943

In [7]:
df3=pd.read_csv('https://raw.githubusercontent.com/heidaralavi/Gas-Prj/main/input-3.csv')

In [8]:
df3.head()

        Date  Tfe_Before_Mixer
0  3/21/2019             66.64
1  3/21/2019             66.88
2  3/21/2019             67.35
3  3/22/2019             66.90
4  3/22/2019             66.88

In [9]:
df4=pd.read_csv('https://raw.githubusercontent.com/heidaralavi/Gas-Prj/main/input-4.csv')

In [10]:
df4.head()

        Date  FeO_Before_Mixer
0  3/21/2019             21.51
1  3/21/2019             21.97
2  3/21/2019             21.66
3  3/22/2019             21.47
4  3/22/2019             21.66

In [11]:
df5=pd.read_csv('https://raw.githubusercontent.com/heidaralavi/Gas-Prj/main/input-5.csv')

In [12]:
df5.head()

        Date  Moisture_600
0  3/21/2019           9.3
1  3/21/2019           9.2
2  3/21/2019           9.6
3  3/21/2019           9.0
4  3/21/2019           8.7

متوسط گیری داده های رطوبت دیسک ها در هر روز

In [14]:
df5=df5.groupby(['Date']).mean()

In [15]:
df5.head()

           Moisture_600
Date
1/1/2020       9.437500
1/1/2021       9.028986
1/1/2022       9.152113
1/10/2020      9.240278
1/10/2021      8.962069

ادغام تمام دیتافریم ها در یک دیتافریم

In [19]:
from functools import reduce

In [22]:
data_frames = [df1, df2, df3,df4,df5]
df = reduce(lambda  left,right: pd.merge(left,right,on=['Date'],how='outer'), data_frames)

In [23]:
df.head()

        Date  online_hours  ...  FeO_Before_Mixer  Moisture_600
0  3/22/2019          23.0  ...             21.47      9.084722
1  3/22/2019          23.0  ...             21.66      9.084722
2  3/22/2019          23.0  ...             21.66      9.084722
3  3/22/2019          23.0  ...             21.47      9.084722
4  3/22/2019          23.0  ...             21.66      9.084722

[5 rows x 19 columns]

In [24]:
df=df.groupby(['Date']).mean()

In [25]:
df.head()

           online_hours  Grate_Feed(ton)  ...  FeO_Before_Mixer  Moisture_600
Date                                      ...
1/1/2020      24.000000         12994.84  ...         21.453333      9.437500
1/1/2021      23.933333         13077.04  ...         22.925000      9.028986
1/1/2022      24.000000         14241.00  ...         21.740000      9.152113
1/10/2020     24.000000         11785.42  ...         22.300000      9.240278
1/10/2021     24.000000         13321.24  ...         22.875000      8.962069

[5 rows x 18 columns]

In [26]:
df.isnull().sum()

online_hours             1
Grate_Feed(ton)          1
Grate_Speed(rpm)         1
Depth(mm)                1
EP1_Temp(deg)           12
EP2_Temp(deg)           12
Zone3_Temp(deg)         12
Zone4_Temp(deg)         12
Amb_temp(deg)            1
KL1_Speed(rpm)           1
AN1_Speed(rpm)           1
730FN1_Damper            1
730FN1_Amp               1
AN1_Zone3_Temp(deg)      1
Blaine_After_HPGR       92
Tfe_Before_Mixer       102
FeO_Before_Mixer       102
Moisture_600            89
dtype: int64

In [27]:
df.isna().sum()

online_hours             1
Grate_Feed(ton)          1
Grate_Speed(rpm)         1
Depth(mm)                1
EP1_Temp(deg)           12
EP2_Temp(deg)           12
Zone3_Temp(deg)         12
Zone4_Temp(deg)         12
Amb_temp(deg)            1
KL1_Speed(rpm)           1
AN1_Speed(rpm)           1
730FN1_Damper            1
730FN1_Amp               1
AN1_Zone3_Temp(deg)      1
Blaine_After_HPGR       92
Tfe_Before_Mixer       102
FeO_Before_Mixer       102
Moisture_600            89
dtype: int64

In [28]:
df.describe()

       online_hours  Grate_Feed(ton)  ...  FeO_Before_Mixer  Moisture_600
count   1030.000000      1030.000000  ...        929.000000    942.000000
mean      20.611052     10873.427369  ...         22.913753      9.048039
std        7.220326      4149.742329  ...          1.196026      0.193219
min        0.000000       -77.700000  ...         18.866667      7.966667
25%       22.637500     11438.767500  ...         22.060000      8.919444
50%       23.966667     12664.290000  ...         22.895000      9.044886
75%       24.000000     13053.832500  ...         23.810000      9.176042
max       24.000000     18548.260000  ...         25.773333      9.635714

[8 rows x 18 columns]

سیو فایل نهایی در گوگل درایو

In [34]:
#from google.colab import drive
#drive.mount('drive')

Mounted at drive

In [36]:
#df.to_csv('total.csv')
#!cp total.csv "drive/My Drive/"