<a href="https://colab.research.google.com/github/heidaralavi/Gas-Prj/blob/main/Linear_Regression_using_PyTorch_for_gas_consumption.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
import torch
from torch.autograd import Variable

In [5]:
url = 'https://raw.githubusercontent.com/heidaralavi/Gas-Prj/main/total.csv'
df=pd.read_csv(url)
df=df.set_index('Date')
df.head()

           Moisture_600  ...  Gas_Consumption(Nm3)
Date                     ...
3/22/2019      9.068056  ...                196364
3/23/2019      8.997183  ...                209304
3/24/2019      8.795833  ...                206200
3/25/2019      8.850536  ...                203772
3/26/2019      9.006061  ...                200120

[5 rows x 19 columns]

نرمال سازی داده ها

In [6]:
col=df.columns
data=df.values
ind = df.index.values

In [8]:
data.shape

(837, 19)

In [9]:
from sklearn.preprocessing import MinMaxScaler
trans = MinMaxScaler()
normal_data = trans.fit_transform(data)
normal_df=pd.DataFrame(normal_data,columns=col,index=ind)
normal_df.describe()

       Moisture_600  ...  Gas_Consumption(Nm3)
count    837.000000  ...            837.000000
mean       0.477950  ...              0.410754
std        0.155161  ...              0.174579
min        0.000000  ...              0.000000
25%        0.374966  ...              0.283447
50%        0.474625  ...              0.415035
75%        0.587626  ...              0.527371
max        1.000000  ...              1.000000

[8 rows x 19 columns]

In [11]:
# split into train and test sets
from sklearn.model_selection import train_test_split
X, y = normal_data[:, :-1], normal_data[:, -1]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1)