<a href="https://colab.research.google.com/github/heidaralavi/Gas-Prj/blob/main/loading_fit_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [23]:
import pickle
import pandas as pd
from sklearn.model_selection import train_test_split
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials

In [3]:
url = 'https://raw.githubusercontent.com/heidaralavi/Gas-Prj/main/total.csv'
df=pd.read_csv(url)
#df=pd.read_csv('input-data.csv')
df.head()

   Unnamed: 0  Moisture_600  ...  AN1_Zoon3_Temp(deg)  Gas_Consumption(Nm3)
0           0      9.068056  ...           141.628364              196364.0
1           1      8.997183  ...           145.570481              209304.0
2           2      8.795833  ...           173.127236              206200.0
3           3      8.850536  ...           179.281210              203772.0
4           4      9.006061  ...           129.430960              200120.0

[5 rows x 20 columns]

In [4]:
df.drop(columns='Unnamed: 0',inplace=True)

In [5]:
col=df.columns
data=df.values

In [6]:
# split into input and output elements
X, y =data[:, :-1], data[:, -1]

In [9]:
# split into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1)
print(X_test.shape,X_train.shape)

(251, 18) (585, 18)

In [24]:
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

In [26]:
fileDownloaded = drive.CreateFile({'id':'1EmGsZzv28VBjeeLztuLM-nDN6-u3uqkj'})

In [27]:
fileDownloaded.GetContentFile('finalized_model.sav')

In [30]:
with open('finalized_model.sav', 'rb') as f:
    model = pickle.load(f)

[18:29:54] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.